{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "@emotion/babel-preset-css-prop"
  ],
  "plugins": ["emotion"],
  "env": {
    "production": {
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    },
    "test": {
      "presets": [["@babel/preset-env", {"targets": {"node": "current"}}]]
    }
  }
}